Source: swift3-gatekeeper
Maintainer: A2 company <a2company@a2company.co.kr>
Section: python
Priority: optional
Build-Depends:
 python-setuptools (>= 0.6b3),
 python-all (>= 2.6.6-3),
 debhelper (>= 7)
Standards-Version: 3.9.1

Package: python-swift3-gatekeeper
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: Middleware to filter S3 relational user-metadata in swift

